@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .heroButton {
        @apply px-6 py-2 border  border-[#51b4ff]/50 rounded-full uppercase text-xs tracking-widest text-[#51b4ff]/70 transition-all hover:border-[#51b4ff]
        hover:text-[#51b4ff]
    }
    .contactInput {
        @apply outline-none bg-[#34597e]/40 rounded-md border-b px-6 py-4 border-[#85caff]/40 text-[#85caff]/40 placeholder-[#85caff]/40 transition-all focus:border-[#85caff] focus:text-[#85caff] focus:bg-[#34597e]
        hover:border-[#85caff]/70 hover:text-[#85caff]/70 hover:bg-[#34597e]/70
    }
}